<head>
	<title>Friend</title>
</head>
<body>
	<div>
		{% if friends %}
			<p>Your friend</p>
			<ul name="friends">
				{% for friend in friends %}
					<li style="list-style: none;">{{friend[0]}}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Lets add a friend first</p>
		{% endif %}
	</div>
	<div>
		<form method="post" action="{{ url_for('add_friend') }}">
			<p>People you may know</p>
			<select name="users">
				{% if users %}
					{% for user in users %}
						<option value={{user[0]}}>{{user[1]}}</option>
					{% endfor %}
				{% endif %}
            </select>
			<input type='submit' name='add' value="Add friend!"></input>
		</form>
	</div>
</body>