<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if uid %}
<!--     <p>user id: {{uid}}</p>
 -->    {% if photos %}
        <h2>Here's all the photos</h2>
        <ul>
        {% for photo in photos %}
            <li>
            	<img src="data:image/png;base64, {{photo[1]}}" style="height: 100px"/>
                <a href="like/{{photo[0]}}">like</a>
                <form method = "post" enctype="multipart/form-data" action="/comment/{{photo[0]}}">
                    <label for="comment">Enter comment:</label>
                    <input type="text" name="comment"/>
                    <input type="submit" value="Add comment" />
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    {% if photos %}
        <h2>Here's all the photos</h2>
        <ul>
        {% for photo in photos %}
            <li>
                <img src="data:image/png;base64, {{photo[1]}}" style="height: 100px"/>
                <form method = "post" enctype="multipart/form-data" action="/anocomment/{{photo[0]}}">
                    <label for="comment">Enter comment:</label>
                    <input type="text" name="comment"/>
                    <input type="submit" value="Add comment" />
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<!-- <form method = "post" action="/"></form> -->
<!-- {% if friends %} -->
<!-- {% endif %} -->

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li> 
{% if name %}
<li><a href="/friend">View friends</a></li>
<li><a href="/album">View albums</a></li>
<li><a href="/viewbytag">View photo by tag</a></li>
<li><a href='/logout'>Logout</a></li>
{% endif %}
<li><a href='/'>Home</a></li>
</ul>

