<head>
    <title>Your photos</title>
</head>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
{% if photos %}
	<p>Your photos in {{aname}}</p>
	<ul id="photolist" name="photos">
		{% for photo in photos %}
			<li>
				<a href='/managephoto/{{photo[0]}}'>
					<img src='data:image/png;base64, {{photo[1]}}' style="height: 100px">
				</a>
        <a href="/deletephoto/{{photo[0]}}">Delete photo</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

<form method="post" action="/uploadtoalbum/{{aid}}" enctype="multipart/form-data">
    <label for="photo">Select photo:</label>
    <input type="file" name="photo" required='true'/><br />
    <label for="caption">Please caption:</label>
    <input type="text" name="caption" required='true'/><br />
    <label for="tags">Add tags:</label>
    <input type="text" name="tags"/><br />
    <input type="submit" value="Upload"/>
 </form>
 <a href='/'>Home</a>