<head>
    <title>Upload a photo!</title>
</head>
<body>
    {% if message %}
        <h4>{{message}}!</h4>
    {% endif%}
    <div class="title">
        <h1>Upload a photo to Photoshare</h1>
    </div>
    <form method="post" action="{{ url_for('upload_photo') }}" enctype="multipart/form-data">
        <label for="photo">Select photo:</label>
        <input type="file" name="photo" required='true'/><br />
        <label for="caption">Please caption:</label>
        <input type="text" name="caption" required='true'/><br />
        <select name="albums">
            {% if albums %}
                {% for album in albums %}
                    <option value={{album[0]}}>{{album[1]}}</option>
                {% endfor %}
            {% endif %}
        </select>
        <input type="submit" value="Upload"/>
    </form>
</body>
